.container {
  position: relative;
  height: 100%;
  width: 100%
}

.text-overlay {
  position: absolute;
  bottom: 5%;
  left: 5%;
  /* transform: translate(-50%, -50%); */
  background-color: rgba(0, 0, 0, 1);
  padding: 10px;
  border-radius: 35px;
  /* overflow: hidden; */
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 20px;
}

.text {
  color: white;
  font-size: 16px;
  margin: 0%;
  margin-left: 10px;
  margin-right: 10px;
  
}
